---
title: Using VictoriaMetrics for VMware Tanzu
owner: Partners
---

<strong><%= modified_date %></strong>

##<a id='using'></a> Using VictoriaMetrics for VMware Tanzu

### <a id="list"></a>Login to Grafana

Once the tile has been installed, you can find grafana static ip-address in tile `STATUS` page.
<%= image_tag("images/grafanaip.png") %>
or by using bosh cli
<pre class="terminal">
$ bosh -d victoria-metrics-98064e3164901f3d9cbd vms --column=Instance --column=IPs | grep grafana
grafana/f0ff8ec3-c2ed-4908-a149-a1126ad4b991            10.1.1.50
</pre>
Then you can create NAT rule or access it directly, depending on your networking.

##### http://your-grafana-static-ip:3000/login

### <a id="list"></a> Get credentials
From `Credentials` page for tile. Grafana password. User admin.

<%= image_tag("images/credentials.png") %>

### <a id="list"></a>Observe metrics 
Browse available dashboards and metrics for your deployments

<%= image_tag("images/browse.png") %>